

#myNavbar   li a{ 
  color:white;
  height: 29px;
  padding:5px;
  padding-right:20px; 

}



.boxCard  {
  width: 100%;
  height: 430px;
  min-width: 300px;
  background: white;
  box-shadow: 0.4px 0.4px 2px #BFBFBF;
  margin-top: -20px;
  padding-top: 30px;
  padding-left: 15px;
  margin-left: -100px;
  margin-bottom: 90px;
  border-radius: 12px;
}


.boxHelper{
  
  height:60px;
  width: 100%;
  background: white;
  box-shadow: 0.2px 0.2px 0.5px #E3E3E3;
  border-radius: 4px;
}

#qtdRecup{
  font-size: 45px; 
  font-family: 'Baloo Chettan 2', cursive;
  margin-top: 20px;
  font-weight: 400;
  margin-left:50px;
  color: #4dd68f;
}
#qtdObt{
  font-size: 45px; 
  font-family: 'Baloo Chettan 2', cursive;
  margin-top: 20px;
  font-weight: 400;
  margin-left:50px;
  color: red;
}

.card_label{
  color: #A8A8A8;
  font-family: 'Baloo Chettan 2', cursive;
  font-weight: 400;  
  font-size: 18px;
}

.infoBox{
  width: 100%;
  height: 100px;
  min-width: 60px;
  background: white;
  box-shadow: 1px 1px 2px #BFBFBF;
  margin-top: 50px;
  padding-top: 1px;
  padding-left: 15px;
  margin-left: -100px;
  margin-bottom: 90px;
  border-radius: 8px;



}

.plotly .plot-container{

 width 100%
 height: 20px

}


.painel-heading{
    background:#084270;
    color: white;
    font-size: 16px;
    box-shadow: 0px -2px 2px grey;
    width:400px;
    position: relative;
    font-weight: bold;
}

#\31  > div > div:nth-child(1) > div:nth-child(1) > div > div > span{

    background-color: red;

}

#head1{
    width:435px;
    bottom: -53px;
    padding:10px;
    height: 50px;
    left: 35px;
    text-align: center;
    z-index: 999; 
}

#head2{
    width:435px;
    left: 510px;
    bottom: -3px;
    padding:10px;
    height: 50px;
    text-align: center;
       z-index: 999;
}

#head3{
    width:390px;
    left:  -16px;
    bottom: 2px;
    padding:10px;
    height: 50px;
    text-align: center; 
}

#head4{
  width: 910px;
  top: 10px;
  left: 35px;
    bottom: 2px;
    padding:10px;
    height: 50px;
    text-align: center; 

}

div h4{
  margin-top: -25px;
  position: relative;
  margin-left: 48px;
}

.fa-cogs{
    font-size: 30px;
    margin-top: 22px;
    top: 200px;
}


.tabela{
    margin-left:  250px;
}

.caixa{
    left: 300px
    width:400px;
    margin-left: 80px;
    margin-top: -20px   
}

#logsclabel{
  margin-top: -60px;


}


.info-box{
        box-shadow: 0px 1px 10px grey;
}

 .tab{
  margin-top: 180px;
}

.graficos{
  left:250px;
  margin-left: -150px;
  padding: 0px
  margin-top:100px;
}

.navbar-custom{
    height: 12px;
}


.navbar li a:hover {
    background-color: white;
}

.navbar li a: {
    padding-top: 20px;
}


.navbar li a:focus {
    background-color: red;
}

.navbar-brand{
  color: white;
  font-weight: bolder;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 19px;
  height: 30px;
}

.nav-tabs{
 border-width: 5px;
 margin-left: -100px;
 border-color: #f3f3f3;


}

.nav-tabs li{
  color:#E3E3E3;


}
.nav-tabs li a{
    color:#004d1a;
}


.nav-tabs li a:hover {
    color: black;
}

.navbar{
  margin:0;
  background: linear-gradient(158deg, rgba(2,0,36,1) 0%, rgba(193,44,97,1) 0%, rgba(100,45,97,1) 59%, rgba(38,149,237,1) 100%);
  color:white;
  min-height: 10px;
  height:60px;
  border-radius: 0;
  box-shadow: 2px 1px 20px grey;
  margin-left: 0px;
}

.content{
    top: 50px;
    margin: auto;
    position: relative;
}

.conteudo{

  margin:auto;


}

.rodape{
    background-color: red;
    width: 100%;
    height: 40px;
}

.side{
    position: relative;
    margin-top: -20px;
    margin-left: 0;
}

 .logo{
     
  background-image:url('img/gato.jpg');
  height: 800px; 
  width: 880px; 
  z-index: 99999999;
} 


.centro{
    top: -100px;
    position: relative;
    left: -20px;
    height: 200%;
}

.tab{
    margin-top: 100px;
    margin-left: 100px; 
}



.time-series-panel{
    right: -100px;
    min-width: 100px;
    width: 910px;
    margin-top: 10px;
    right: -20px;
    height: 400px;
    left: 200px;
    background-color: white;
    box-shadow: 0px 1px 22px grey;
    border: 60px;
    margin-right: 40px;
}


.corpo{
    background-color: #fafcfc;

}

body{
    overflow-y: scroll;
    font-family: 'Baloo Chettan 2', cursive;
    color: #A8A8A8;

}



.btn-sucess{
    color:#004d1a;
    margin-left: 108px;
}

.btn-sucess:hover{
    color:#105d1a;
}


#bootstrap-override div.form-group.shiny-input-container.ui-draggable.ui-draggable-handle{
      width:100%;
      left: 100px;
      top: -47px;
      max-width: 300px

}

/*******************/


#bootstrap-override button{
    
    width:199px;
    margin-left: -15px; 
    margin-top: 0px;

}

#bootstrap-override button#btn-add-1{
    
    width:100%;
    margin-left: 550px;
    margin-top: -180px;
      max-width: 120px
}


#bootstrap-override button :hover{
    color: black


}



a.list-group-item , button.list-group-item{
    color: black;
     background-color: white;
     opacity: 1;
     margin-top:100px; 
}

.list-group-item a{
      color: #004d1a;


}

i.fa{
    padding-right: 5px;
}



/*********************/
/*carrinho*/


/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/
/* Global settings */
/* Global "table" column settings */


#bootstrap-override td>button{

  width: 100px;
  min-width: 10px;
  margin-left: 0px;
  font-size: 10px;

}



